*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
    transition: 0.25s ease-in-out;
    transform: scale(0.98);
}
/* navigation */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05) ;
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background-color:antiquewhite ;
    padding-bottom: 10px;
    padding: 10px;  /* leftRightGapFromScreen */
    z-index: 50;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto ; 
}
















.bar_icon{
    font-size: 28px;
}

/* hero section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero_content{
    display: flex;
    flex-direction: column;  
    gap: 20px;
}

.tag{
    background-color: green;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

.hero_content h1{
    font-size: 72px;
    line-height: 1.2;  /*??*/
    font-weight: 420;
}

.explore_btn{
    background-color: #ffc066;
    align-self: flex-start;
}

@media(max-width: 786px){
    .hero {
        flex-direction: column;
      }
    
      .hero_image {
        display: flex;
        justify-content: center;
      }
      .hero_image img {
        width: 80%;
      }
      .hero_content {
        gap: 10px;
    
        padding: 0 20px;
      }
      .hero_content h1 {
        font-size: 32px;
      }
      .features {
        flex-direction: column;
      }
      .feature {
        flex-direction: column;
      }
      .grid {
        padding: 10px;
      }
      .grid-image {
        border-radius: 0px;
      }
      .footer_container {
        flex-direction: column;
      }
}